body {
	margin: 0;
	font-family:san-serif;
}

.navbar {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.navbar:hover {
	color: #0056b3;
}

.section {
	padding: 4rem 2rem;
	min-height: 100vh;
	background: #f9f9f9;
	border-bottom: 1px solid #eee;
}
