body {
	margin: 0;
	font-family:san-serif;
}

.navbar {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.nav-tabs {
	list-style: none;
	display: flex;
	justify-content: left;
	margin: 0;
	padding: 1rem;
	gap: 2rem;
}

.nav-tabs li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	cursor: pointer;
}

.nav-tabs li a:hover {
	color: #0056b3;
}

.section {
	padding: 4rem 2rem;
	min-height: 100vh;
	background: #f9f9f9;
	border-bottom: 1px solid #eee;
}
